body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Ubuntu-Light, serif;
}

@font-face {
  font-family: "Ubuntu-Light";
  src: local("Ubuntu-Light"),
    url("./assets/fonts/Ubuntu-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.rotate {
  animation: rotate360 200ms linear;
  -webkit-animation: rotate360 200ms linear;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

input:read-only {
  opacity: 0.8;
  cursor: not-allowed;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
